.userNav__links {
  display: flex;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  justify-content: space-around;
}
.userNav h3{
  display: flex;
  align-items: center;
}
.rewards{
  height: 2.5em;
  width: auto;
  align-self: center;
}

.customerSection {
  border-right: 3px solid wheat;
}

.cart {
  display: flex;
  justify-content: space-between;
}

.contactForm{
  padding-top: 20px;
}