@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import './modal.css';
@import './customer.css';
@import './nav.css';

*{
	/* border: 1px solid black; */
}

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.mainContainer, .baked_good__header {
	display: flex;
	justify-content: space-between;
}

.customerSection {
	flex-basis: 32%;
	padding-right: 1em;
}

.menuSection {
	flex-basis: 62%;
}

.orderDetailsDiv{
	width:350px;
}

.productDetailsDiv{
	font-size: 10px;
}

.orderStatusDiv{
	width:150px;
}

.orderButtonDiv{
	width:50px;
	text-align: right;
}

hr.fancyHR {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}